<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org
http://thymeleaf.org ">

<head>
    <meta charset="UTF-8">
    <title>Form Etudiants</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
          th:href="@{/css/myStyle.css}"/>
</head>
<body>
<div class="col-md-6  col-sm-6 col-xs-12 spacer col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading"><h1>Saisie Etudiant</h1></div>

        <div class="panel-body">
            <form th:action="@{saveEtudiant}" method="post" th:object="${etudiants}">

                <div class="form-group">
                    <label class="control-label">Nom:</label>
                    <input type="text" th:field="*{nom}" class="form-control"/>
                    <span></span>
                </div>
                <div class="form-group">
                    <label>Date Naissance</label>
                    <input type="date" th:field="*{dateNaissance}" class="form-control"/>
                    <span></span>
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input type="text" th:field="*{email}" class="form-control"/>
                    <span></span>
                </div>
                <div class="form-group">
                    <label>photo:</label>
                    <input type="text" th:field="*{photo}" class="form-control"/>
                    <span></span>
                </div>
        </div>

        <button type="submit" class="btn btn-primary">save</button>

    </div>
    </form>


</div>


</div>


<div>
</div>
</body>
</html>

